ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b2c", RUN+="/usr/local/bin/zenbook-scripts/udev-passthrough.sh 1"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b2c", RUN+="/usr/local/bin/zenbook-scripts/udev-passthrough.sh 0"
