# rules for sending messages to scripts when keyboard as attached or removed
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b2c", RUN+="/bin/sh -c 'echo 1 > /tmp/zenbook/keyboard-status'"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b2c", RUN+="/bin/sh -c 'echo 0 > /tmp/zenbook/keyboard-status'"

# rule to allow keyboard to be sent packets by keyboard-backlight.py
SUBSYSTEM=="usb", ATTR{idVendor}=="0b05", ATTR{idProduct}=="1b2c", MODE="0666"
